{{ partial "header.html" . }}
{{ partial "navigation.html" . }}

<div>
    <h1 >{{ .Title }}</h1>
    <nav class="breadcrumb">
        <strong>Breadcrumb</strong> : <a href="{{.Site.BaseURL}}">Home</a> {{ $.Scratch.Get "Breadcrumbs" | safeHTML }} {{ if eq .Params.menu.main.identifier nil}} > {{.Title}}{{end}}
    </nav>
    

    <!-- Sibbling contents -->
    {{ if eq .Params.menu.main.identifier nil}}
    
    
    <nav class="related-links sibling">
        <h1>Sibling pages</h1>
        {{ $curentURL :=  .RelPermalink }}  
        {{ $currentMenu :=  ($.Scratch.Get "CurrentMenu") }}  
        {{ range $currentMenu.Children }}
        {{ if ne .URL $curentURL}}
        {{ if eq .Identifier ""}}
            <li><a href="{{.URL}}" >{{ .Name }}</a></li>
        {{ end }}
        {{ end }}
        {{ end }}
    </nav>
    {{ end }}


    {{ .Content }}

    <!-- Children contents -->
    {{ if ne .Params.menu.main.identifier nil}}
    <nav class="related-links">
        {{ range (index .Menus "main").Children }}
        {{ if eq .Identifier ""}}
        <li><a href="{{.URL}}" >{{ .Name }}</a></li>
        {{ end }}
        {{ end }}
    </nav>
    {{ end }}



</div>

{{ partial "footer.html" . }}